{% extends 'BueroPactBundle::layout.html.twig' %}

{% block body %}
    <h4>{{ user.username }}</h4>
    <div class="badge-area">
        {% include 'BueroPactBundle:Templates:badges.html.twig' %}
    </div>
    <div class="task-list">
        <div class="task">TASK</div>
    </div>

    {{ dump(user) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        ($(function() {
            var url = "{{ path('pact_expgained') }}";
            $('.task').click(function() {
                $(this).animate({
                    opacity: 0.25
                }, 100, function() {
                    $(this).css('opacity', 1);
                });
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        exp: 300
                    },
                    success: function(response) {
                        $('.badge-area').html(response);
                    }
                });
            })
        }));
    </script>
{% endblock javascripts %}

